<% include ../topo %>
<% include chat_script %>
<script>
$(document).ready(function(){
	var element = document.getElementById('chat');
    element.scrollTop = element.scrollHeight - element.clientHeight;
	
	$("#mensagem").keypress(function(e){
		if (e.which == '13') {
			enviar();
		}
	});
});

</script>
<div class="container" style="padding: 20px 0 0 0";>
<section class="">
  <div class="well span6 offset3">
	<ul class="list-group" id="chat" style="overflow-y: auto; height:250px; background-color:white;">
		
	</ul>
    <div class="form-horizontal">
	  <div class="form-group">
		<div class="col-sm-6">
		  <input type="text" id="mensagem" class="form-control" sytle="weight: 400px;"  placeholder="Digite sua mensagem"/>
		</div>
		<button class="btn btn-primary" onclick="enviar();">Enviar</button>
      <a href="/contatos" class="btn btn-inverse">Sair do chat</a>
	  </div>
    </div>
  </div>
</section>
</div>
<% include ../footer %>