<% include header %>
<nav class="blog-masthead">
  <div class="container">
	<div class="blog-masthead">
		<nav class="blog-nav">
		<a class="navbar-brand" style="color:white;" href="/contatos">Telegram Caixa</a>
	    </nav>
	</div>
	<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href='javascript:sair();' ><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
        </nav>
      </div>
    </div>
  </div>
</nav>