<!DOCTYPE html>
<html>
  <head>
    <title>Telegram Caixa</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/signin.css" rel="stylesheet">
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/jquery-2.1.4.js"></script>
  </head>
<body>
	<div class="container">

	  <form class="form-signin" action="/entrar" method="post">
		<h2 class="form-signin-heading">Telegram Caixa</h2>
		<label for="inputLogin" class="sr-only">Login</label>
		<input type="text" id="inputLogin" name="usuario[nome]" class="form-control" placeholder="Digite o nome" required autofocus>
		
		<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
	  </form>

	</div> 
</body>
</html>
